#TituloSuspendido{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}
#subtitulo{
    color: gray;
    text-align: center;
    margin-top: 30px;
}

.contenido{
    text-align: center;
    margin-top: auto;
    margin-left: 100px;
    margin-right: 100px;
}
#fist-img{
    width: 50%;
    margin: auto;
}
#segundo-contenido{
    margin-top: 20px;
}
#listado{
    text-align: auto;
    margin-left: 300px;
}

.lista{
    align-items: center;
}
#fotovoto{
    width: 600px;
}